@charset "UTF-8";
h1{
	text-align: center;
	font-size: 65px;
	font-family: Helvetica,"sans-serif";
	color: grey
}
body{
	background-color: pink;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica,"sans-serif";
	
	
}

.typeproject1{
	height: 500px;
	width: 500px;
	
}

.typeproject2{
	height: 550px;
	width: 815px;
}

.typeproject3{
	height: 715px;
	width: 715px;
	
}

.typeproject4{
	height: 600px;
	width: 600px;
}

.typeproject5{
	height: 400px;
	width: 600px;
}

.typeproject6{
	height: 600px;
	width: 600px;
	
}

.typeproject7{
	height: 650px;
	width: 820px;
	
}

.typeproject8{
	height: 600px;
	width: 600px;
}

.typeproject9{
	height: 400px;
	width: 400px;
}

.typeproject10{
	height: 600px;
	width: 720px;
}
.typeproject11{
	height: 300px;
	width: 820px;
	
}
.typeproject12{
	height: 400px;
	width: 610px;
}
.typeproject13{
	height: 500px;
	width: 700px;
}
.typeproject14{
	height: 350px;
	width: 710px;
	
}
.typeproject15{
	height: 500px;
	width: 500px;
}
.typeproject16{
	height: 600px;
	width: 600px;
}
.typeproject17{
	height: 710px;
	width: 710px;
}
.typeproject18{
	height: 300px;
	width: 710px;
} 
.typeproject19{
	height: 400px;
	width: 710px;
}

.typeproject20{
	height: 400px;
	width: 620px;
}